<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>FEPI CineClub - Home</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="text">
        <h1>Filmes Populares</h1>
        <p>Esse são os filmes mais populares do momento! Aproveita e saiba mais sobre clicando no poster de algum fime</p>
    </div>

    <div class="movies-grid">
        {% for movie in movies %}
        
        <div class="movie">
            <a href="{% url 'movie_detail' movie.id %}">
                <img src="{% static 'imgs/'|add:movie.poster %}" alt="{{ movie.title }} poster">
                <h3>{{ movie.title }}</h3>
            </a>
        </div>
        
        {% endfor %}
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
