{% extends "store/base.html" %}

{% block content %}
    <h2>Meu Carrinho</h2>
    <div>
        {% for product in products %}
            <div>
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                {% if product.discount %}
                    <p>{{ product.discount|floatformat:2 }}</p>
                {% else %}
                    <p>{{ product.price|floatformat:2 }}</p>
                {% endif %}
                <a href="{% url 'remove_from_cart' product.pk %}">Remover do Carrinho</a>
            </div>
        {% empty %}
            <p>Seu carrinho está vazio.</p>
        {% endfor %}
    </div>
{% endblock %}