{% extends "store/base.html" %}

{% block content %}
    <h2>Produtos</h2>
    <div>
        {% for product in products %}
            <div>
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                {% if product.discount %}
                    <p>
                        <s>{{ product.price|floatformat:2 }}</s>
                        {{ product.discount|floatformat:2 }}
                    </p>
                {% else %}
                    <p>{{ product.price|floatformat:2 }}</p>
                {% endif %}
                <a href="{% url 'product_detail' product.pk %}">Ver Detalhes</a>
                <a href="{% url 'add_to_cart' product.pk %}">Adicionar ao Carrinho</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}