{% extends "base.html" %}

{% block content %}
    <div class="product-detail">
        <div class="product-detail-info">
            <h2>{{ product.name }}</h2>
            
            <p class="description">{{ product.description }}</p>

            {% if product.discount %}
                <p>
                    <s>R$ {{ product.price|floatformat:2 }}</s>
                    R$ {{ product.discount|floatformat:2 }}
                </p>
            {% else %}
                <p class="price">R$ {{ product.price|floatformat:2 }}</p>
            {% endif %}
    
            <a href="{% url 'add_to_cart' product.pk %}" class="add-to-cart">Adicionar ao Carrinho</a>
        </div>
    
        <img src="{{ product.image.url }}" class="img-xl" alt="{{ product.name }}">
    </div>
{% endblock %}