<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}

    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    
    <title>techtales</title>
</head>
<body>
    <header>
        <a href="/">techtales</a>

        <div>
            <button type="button" class="log-in">Log In</button>
            <button type="button" class="sign-up">Sign up</button>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 techtales. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>