<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    
    <title>{{ movie.title }} - FEPI CineClub</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <img class="big-poster" src="{% static 'imgs/'|add:movie.poster %}" alt="{{ movie.title }} poster">
        
        <div class="description">
            <div class="title">
                <h1>{{ movie.title }}</h1>

                <a class="go-back" href="{% url 'home' %}">Voltar</a>
            </div>
    
            <p><strong>Sinopse:</strong> {{ movie.synopsis }}</p>
            <p><strong>Elenco:</strong> {{ movie.cast|join:", " }}</p>
        </div>
    </div>
</body>
</html>
