<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    
    <title>Document</title>
</head>
<body>
    <div class="box">
        <div class="content">
            <strong>FEPI Tech Event 2024 - Conectando Tecnologia e Inovação</strong>
            <p>O FEPI Tech Event 2024 é o principal evento de tecnologia da Universidade do Sul de Minas, reunindo estudantes, profissionais e entusiastas de tecnologia para uma experiência imersiva em inovação, aprendizado e networking. Durante o evento, os participantes terão acesso a palestras, workshops e demonstrações das mais recentes tendências tecnológicas, além de oportunidades de conexão com especialistas do setor. Junte-se a nós e seja parte do futuro da tecnologia!</p>
        </div>

        <img src="{% static 'imgs/event.png' %}" alt="Imagem do evento">
    </div>
</body>
</html>